In [1]:
n = int(input())

if n % 2 != 0:
    print("Weird")
elif 2 <= n <= 5:
    print("Not Weird")
elif 6 <= n <= 20:
    print("Weird")
else:
    print("Not Weird")

2
Not Weird

In [2]:
a = int(input())
b = int(input())

print(a + b)
print(a - b)
print(a * b)

2
5
7
-3
10

In [3]:
from itertools import groupby

s = input()
for key, group in groupby(s):
    print(f"({len(list(group))}, {key})", end=' ')

1222311
(1, 1) (3, 2) (1, 3) (2, 1)

In [4]:
def minion_game(string):
    vowels = 'AEIOU'
    kev_score = 0
    stu_score = 0
    for i in range(len(string)):
        if string[i] in vowels:
            kev_score += len(string) - i
        else:
            stu_score += len(string) - i
    if kev_score > stu_score:
        print("Kevin", kev_score)
    elif kev_score < stu_score:
        print("Stuart", stu_score)
    else:
        print("Draw")

s = input()
minion_game(s)

BANANA
Stuart 12

In [5]:
def is_leap(year):
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

year = int(input())
print(is_leap(year))

1990
False

In [6]:
from collections import OrderedDict

n = int(input())
counts = OrderedDict()

for _ in range(n):
    word = input()
    counts[word] = counts.get(word, 0) + 1

print(len(counts))
print(*counts.values())

4
bcdef
abcdefg
bcde
bcdef
3
2 1 1

In [7]:
from itertools import combinations

n = int(input())
letters = input().split()
k = int(input())

combos = list(combinations(letters, k))
count = sum(1 for c in combos if 'a' in c)
print("{0:.4f}".format(count / len(combos)))

4
a a c d
2
0.8333

In [8]:
n = int(input())
integer_list = map(int, input().split())
print(hash(tuple(integer_list)))

2
1 2
-3550055125485641917

In [12]:
n = int(input())
stud_marks = {}

for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    stud_marks[name] = scores

query = input()
avg = sum(stud_marks[query]) / 3
print("{:.2f}".format(avg))

3
Arya 67 68 69
Shaurya 70 98 63
Aryan 52 56 60
Arya
68.00

In [14]:
def print_formatted(n):
    width = len(bin(n)[2:])
    for i in range(1, n+1):
        print(str(i).rjust(width),
              oct(i)[2:].rjust(width),
              hex(i)[2:].upper().rjust(width),
              bin(i)[2:].rjust(width))

m = int(input())
print_formatted(m)

2
 1  1  1  1
 2  2  2 10

In [ ]:
2